

#homesection{


  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#pg1{
  width: 80px;
  height: 150px;

}
#navbar{ background-color: grey; color: rgb(0, 51, 0);}
